@font-face {
    font-family: KumbhSans;
    src: url(KumbhSans.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Raleway.ttf);
}

html {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);;
}

body, a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    width: 70%;
    padding-left: 3%;
}

.navbar a {
    color: white;
    font-family: KumbhSans, Arial, sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 2%;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navbar a.active {
    border-bottom: 2px solid white;
}

.navbar a:hover {
    animation: fadeIn_Navbar_underline ease .3s; 
    animation-fill-mode: forwards; 
}

#content {
    width: 100%;
    height: 600px;
    padding-top: 3%;
    color: white;
}

#picture {
    /* padding-left: 15%; */
    margin-left: 15%;
    padding-top: 4.5%;
    margin-right: 13%;
    height: 500px;
    float: left;
    
}


@media (min-width:743px) and (max-width: 1919px) {
    #picture {
        height: 800px; 
    }
}

@media (max-width:742px) {
    #picture {
        height: 500px;
        width: 100%;
        margin-left: 5vw;
    }
    #main {
        display: block; 
    }
    .header, .text, .text-p-1 {
        padding-left: 8%;
    }
}
#headshot {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 10px solid white;
}

#main {
    display: inline;
    text-align: center;
    line-height: 1.6;
}

.header , h1 {
    padding-top: 1%;
    padding-right: 3.5%;
    font-family: KumbhSans, Arial, sans-serif;
}

.text {
    padding-top: 2%;
    padding-right: 8%;
    font-size: 15px;
}

.text-p-1 {
    /* padding-top: 1%; */
    padding-right: 8%;
    font-size: 15px;
}

.text, .text-p-1 {
    font-family: Raleway, Arial, sans-serif;
    animation: fadeIn_bodytext ease 1s; 
    animation-fill-mode: forwards; 
}



/* #footer {
    clear: both;
    padding-right: 30%;
    padding-left: 30%;
    margin-bottom: 100px;
    background-color: #E0E0E0;
    border-bottom: 3px solid #212121;
}

#footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: black;
}

#footer li {
    font-size: 25px;
} */

#grid-container {
    background: rgba(0, 0, 0, 0.2);
    height: 150vh;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;

    
}

.element-wide-portfolio {
    background-image: url(blur-code.png);
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}
.element-wide-portfolio:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}

.element-wide-test {
    background-color: rgb(0, 0, 0);
    transform: scale(1.0);
    transition: transform 0.3s ease-in-out;
}
.element-wide-test:hover {
    transform: scale(1.03);
    transition: transform 0.3s ease-in-out;
}




.element-wide-content {
    /* background-color: rgba(255, 255, 255, 1); */
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    padding: 2%;
}

.element-wide-content img {
    height: 15%;
    width: 15%;
    z-index: 100;
    transform: translateX(0%);
    transition: transform 0.3s ease-in-out;
}

.element-wide-content:hover img {
    transform: translateX(-275%);
    transition: transform 0.2s ease-in-out;
}

.element-wide-content h1 {
    color: white;
    position: absolute;
    z-index: 0;
    padding: 0;
    margin-top: 5%;
    font-size: 4vw;
    font-style: italic;
    padding-bottom: 1%;
    border-bottom: 2px solid white;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.element-wide-content a {
    color: white;
}

.element-wide-content:hover h1 {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.element-half-width {
    background-color: rgba(255, 255, 255, 1);
    height: 200px;
    width: 50%;
}

.element-half-width-test {
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 50%;
    margin: 0;
}


.element-half-width-content {
    display: flex;
    justify-content: center;
    padding: 2%;
}



@keyframes fadeIn_Navbar_underline { 
    0% { 
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    } 
    100% { 
        border-bottom: 2px solid rgba(255, 255, 255, 1);
     } 
} 

@keyframes fadeIn_bodytext {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes text_fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Unused - replaced with transitions */
/* @keyframes slide_left {
    0% { transform: translate(0%);}
    
    100% { transform: translate(-250%); }
} */

