@font-face {
    font-family: KumbhSans;
    src: url(KumbhSans.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(Raleway.ttf);
}



html {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);;
}

body, a {


    text-decoration: none;

}

.navbar {
    display: flex;
    justify-content: space-between;

    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    width: 70%;
    padding-left: 3%;

}

.navbar a {
    color: white;
    font-family: KumbhSans, Arial, sans-serif;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    /* padding-right: 30%; */

    padding-top: 3%;
    padding-bottom: 2%;

    border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.navbar a.active {
    border-bottom: 2px solid white;
}

.navbar a:hover {
    animation: fadeIn_Navbar_underline ease .3s; 

    animation-fill-mode: forwards; 
}

#content {
    width: 100%;
    height: 600px;
    padding-top: 3%;
    color: white;
}

#picture {
    padding-left: 15%;
    padding-top: 4.5%;
    margin-right: 13%;
    height: 500px;
    float: left;
}

#headshot {
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 10px solid white;
}

#main {
    display: inline;
    text-align: center;
    line-height: 1.6;
}

.header {
    padding-top: 1%;
    padding-right: 8%;
    font-family: KumbhSans, Arial, sans-serif;
}

.text {
    padding-top: 3%;
    padding-right: 8%;
    font-size: 15px;
}

.text-p-1 {
    padding-top: 2%;
    padding-right: 8%;
    font-size: 15px;
}

.text, .text-p-1 {
    font-family: Raleway, Arial, sans-serif;
    animation: fadeIn_bodytext ease 1s; 

    animation-fill-mode: forwards; 
}

/* #footer {
    clear: both;
    padding-right: 30%;
    padding-left: 30%;
    margin-bottom: 100px;
    background-color: #E0E0E0;
    border-bottom: 3px solid #212121;

}

#footer ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: black;
}

#footer li {

    font-size: 25px;
} */
@keyframes fadeIn_Navbar_underline { 
    0% { 
        border-bottom: 2px solid rgba(255, 255, 255, 0);
    } 
    100% { 
        border-bottom: 2px solid rgba(255, 255, 255, 1);
     } 
} 

@keyframes fadeIn_bodytext {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}